{% extends "base.html" %}
{% load staticfiles %}
{% block title %} New Project {% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <br>
            <!-- submit form -->
            <form method="post" action=".">

                {% csrf_token %}
                <!-- title -->
                <div class="form-group">
                    <!-- tag -->
                    <label for="title">Name</label>
                    <!-- title box -->
                    <input type="text" class="form-control" id="name" name="name">
                </div>

                <!-- submit btn -->
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
