<!-- extends: declare the file is inherited from base.html -->
{% extends "base.html" %}
{% load staticfiles %}

<!-- write the 'title' defined in base.html -->
{% block title %}
    PBI Current View
{% endblock title %}


  </script>
<!-- write the 'content' defined in base.html  -->
{% block content %}
<!-- define the container of article's title -->
<form method="post" action="/productbacklog/switchpbi">
  {% csrf_token %}
  <button type="submit" class="btn btn-primary mb-2">switch</button><br>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Order</th>
        <th scope="col">Name</th>
        <th scope="col">Check</th>
        <th scope="col">Progress</th>
        <th scope="col">Created Date</th>
        <th scope="col">Story Point</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      {% for pbi in pbis %}
      <tr>
        <th scope="row">{{pbi.order}}</th>
        <th scope="row" action="/productbacklog/switchpbi">
          <a href="{% url 'sprintbacklog:addsbi' pbi.id %}">
            {{pbi.name}}
          </a>
        </th>
        <div class="form-check">
          <td><input class="form-check-input" type="checkbox" value="{{pbi.id}}" name="switch" id="switch"></td>
        </div>
        <td>{{pbi.progress}}</td>
        <td>{{pbi.created}}</td>
        <td>{{pbi.storypoint}}</td>
        <td>{{pbi.description}}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
</form>
{% endblock content %}
