{% extends "base.html" %} {% load staticfiles %}
{% block title %} Update Article {% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <br>
            <form method="POST" action=".">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title">Title</label>
                    <!-- value = article's content -->
                    <input type="text" class="form-control" id="title" name="title" value="{{ article.title }}">
                </div>
                <div class="form-group">
                    <label for="body">Content</label>
                    <!-- no value attribute -->
                    <textarea type="text" class="form-control" id="body" name="body" rows="12">{{ article.body }}</textarea>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
