<!-- define navigation bar -->

<style>
    nav {
        user-select: none;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">

    <!-- nav bar logo -->
    <a class="navbar-brand" href="/productbacklog">Backtrack</a>

    <!-- nav entry -->
    <div>
      <ul class="navbar-nav">
        <!-- item -->
        {% if user.is_authenticated %}
        {% if user.profile.type == 'PO' %}
        <li class="nav-item">
          <a class="nav-link" href="/productbacklog/addproduct">Add Product</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ProductBacklog
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href='/productbacklog/fulllist'>PBI Full View</a>
            <a class="dropdown-item" href="/productbacklog/orderlist">PBI Current View</a>
          </div>
        </li>
        {% endif %}
        {% if user.profile.type == 'DV' %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ProductBacklog
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/productbacklog/orderlist">PBI Current View</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            SprintBacklog
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href='/sprintbacklog'>Sprint</a>
            <a class="dropdown-item" href='/sprintbacklog/addsprintview'>Add Sprint</a>

          </div>
        </li>
        {% endif %}
        {% endif %}


	{% if user.is_authenticated %}
          <!-- if login, shows username -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ user.username }}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href='#'>Profile</a>
                <a class="dropdown-item" href="/login/logout/">Logout</a>

              </div>
          </li>
        <!-- if not, shows login -->
        {% else %}
          <li class="nav-item">
              <a class="nav-link" href="#">Login</a>
          </li>
        {% endif %}

      </ul>
    </div>

  </div>
</nav>

